*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$green-strong: rgb(14, 55, 28);
$green-medium: rgb(31, 135, 66);
$green-low: rgb(95, 197, 62);

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
$font-family: 'Inter', sans-serif;

body{
  width: 100%;
  height: 100vh;
}

nav{
//   background-color: black;
  list-style: none;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  color: $green-strong;
  font-size: x-large;
  color: $green-strong;
  &>ul{
    display: flex;
    justify-content: space-between;
    width: 25%;
    list-style: none;
    list-style: $green-strong;
  }
//   &>li{
//       color: red;
//   }
}

.li-color{
    color: red;
}

//Details-page

.details{
// width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Inter', sans-serif;
  gap: 1.3em;
  justify-content: left;
  align-items: left;
  
  &>.div-key>img{
      height: 220px;
      width: 350px;
  }
//funktioniert
//   &>.div-key:nth-last-of-type(5){
//       height: 115px;
//       border: inset 2em greenyellow ;
//   }
}

.div-key{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    line-height: 3em;
    margin: 5px;
    
    &>h3{
      color: $green-strong;
      font-family: $font-family;
      position: relative;
      left: -100px;
    }
    &>img{
        border-radius: 15px;
        object-fit: cover;
      }
    &>img:hover {
        transform: scaleX(-1);
      }
    &>button{
      color: $green-medium;
      background-color: transparent;
      border: $green-low 3px double ;
      border-radius: 10px;
      width: 30%;
      height: 3em;
      font-family: 'Inter', sans-serif;
      font-weight: 900;
      position: relative;
      left: -50px;
    }
    &>button:hover{
        transform: scaleY(100px);
    }
}


// @media only screen and (max-width: 100px) {
//     * {
//       display:grid;
//       grid-template-columns: repeat(1, 1fr);
      
//     }
//   }